<h1>User info</h1>
<table>
  <tr>
    <td>
      <%= image_tag user.get_profile_image(100,100) %>
    </td>
  </tr>
  <tr>
    <td><p>name<%= user.name %></p></td>
  </tr>
  <tr>
    <td><p>introduction</p></td>
  </tr>
</table>